.App {
  text-align: center;
}

.App {
    margin: 0; 
    padding: 0;
 }
.Signup{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .Login{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .Home{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .HomeContainer{
  width: 30vw;
  height: 70vh;
  /* border: 2px solid red; */
  background-color: white;
  border-radius: 15px;
  margin-top: 14vh;
 }
 .LoginContainer{
   width: 36vw;
   height: 70vh;
   /* border: 2px solid red; */
   background-color: white;
   border-radius: 15px;
   margin-top: 14vh;
 }
.SignupContainer {
     width: 36vw;
     height: 90vh;
     /* border: 2px solid red; */
     background-color: white;
     border-radius: 15px;
     margin-top: 5vh;
 }
.heading{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 13%;
 }
 .headingLogin{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 9%;
 }
.headingHome{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18%;
 }
.fields{
   display: flex;
   flex-direction: column;
   width: 80%;
   margin: auto;
   text-align: left;
}
.fields > .labal {
   margin: 20px 0 4px 0;
   font-size: 15px;
}
.fields > .input{
   font-size: 24px;
   padding: 4px;
   border-radius: 7px;
   border: none;
   border: 2px solid rgb(187, 186, 186);
}
input[type=text]:focus {
   border: 2px solid gray;
 }
input[type=email]:focus {
   border: 2px solid gray;
 }
input[type=password]:focus {
   border: 2px solid gray;
 }

 .btn{
     margin-top: 50px;
     padding: 9px 20px;
     font-size: 18px;
     border-radius: 4px;
     border: none;
     background-color: rgb(7, 119, 7);
     color: white;
     cursor: pointer;
 }
 .existingUser{
   margin-top: 40px;
 }
 .existingUser > .Alreadyaccount {
     color: #757272;
 }
.existingUser > .Alreadyaccount > .link{
   cursor: pointer;
   text-decoration: none;
    font-weight: 500;
}

.btnLogout{
  margin-top: 50px;
  padding: 9px 20px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  background-color: rgb(7, 119, 7);
  color: white;
  margin-right: 10px;
  cursor: pointer;
}
.btnLogout:hover {
    background-color: red;
}
.btnDelete:hover {
  background-color: red;
}
.btnDelete{
  margin-top: 50px;
  padding: 9px 20px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  background-color: rgb(7, 119, 7);
  color: white;
  cursor: pointer;
}

/* Adding Media Queries */

@media  (max-width:1100px) {
  .SignupContainer {
    width: 45vw;
    height: 90vh;
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 15px;
    margin-top: 5vh;
  }
  .HomeContainer{
    width: 38vw;
    height: 70vh;
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 15px;
    margin-top: 14vh;
   }
   .LoginContainer{
     width: 42vw;
     height: 70vh;
     /* border: 2px solid red; */
     background-color: white;
     border-radius: 15px;
     margin-top: 14vh;
   }
}
@media (max-width:900px){
  .SignupContainer {
    width: 60vw;
    height: 90vh;
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 15px;
    margin-top: 5vh;
  }
  .HomeContainer{
    width: 46vw;
    height: 70vh;
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 15px;
    margin-top: 14vh;
   }
   .LoginContainer{
     width: 55vw;
     height: 70vh;
     /* border: 2px solid red; */
     background-color: white;
     border-radius: 15px;
     margin-top: 14vh;
   }
}
@media (max-width:700px){
  .SignupContainer {
    width: 80vw;
    height: 90vh;
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 15px;
    margin-top: 5vh;
  }
  .HomeContainer{
    width: 70vw;
    height: 70vh;
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 15px;
    margin-top: 14vh;
   }
   .LoginContainer{
     width: 80vw;
     height: 70vh;
     /* border: 2px solid red; */
     background-color: white;
     border-radius: 15px;
     margin-top: 14vh;
   }
}
@media (max-width:500px){
  .SignupContainer {
    width: 90vw;
    height: 90vh;
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 15px;
    margin-top: 5vh;
  }
  .HomeContainer{
    width: 89vw;
    height: 70vh;
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 15px;
    margin-top: 14vh;
   }
   .LoginContainer{
     width: 95vw;
     height: 70vh;
     /* border: 2px solid red; */
     background-color: white;
     border-radius: 15px;
     margin-top: 14vh;
   }
}
@media (max-width:430px){
  .heading{
     font-size: 23px;
  }
  .headingLogin{
    font-size: 23px;
  }
  .headingHome{
    font-size: 23px;
  }
  .SignupContainer {
    width: 90vw;
    height: 90vh;
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 15px;
    margin-top: 5vh;
  }
  .HomeContainer{
    width: 89vw;
    height: 70vh;
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 15px;
    margin-top: 14vh;
   }
   .LoginContainer{
     width: 90vw;
     height: 70vh;
     /* border: 2px solid red; */
     background-color: white;
     border-radius: 15px;
     margin-top: 14vh;
   }
  .btnLogout{
    margin-top: 50px;
    padding: 6px 15px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    background-color: rgb(7, 119, 7);
    color: white;
    margin-right: 10px;
    cursor: pointer;
  }
  .btnDelete{
    margin-top: 50px;
    padding: 6px 15px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    background-color: rgb(7, 119, 7);
    color: white;
    cursor: pointer;
  }
}
